.carousel-3d {
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  gap: 48px;
  padding: 250px 0;

  @media (max-width: 767px) {
    padding: 150px 0;
  }
}

.carousel-3d__title {
  font-size: 48px;
  color: var(--color-foreground);
  padding-bottom: 15px;
  max-width: 800px;
  margin: 0px auto;
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.carousel-3d__subtitle {
  background-image: linear-gradient(
    309deg,
    #7cdc31 2.25225%,
    #4ea23b 40.0785%,
    #048b3a 100%
  );
  padding-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  @media (max-width: 575px) {
    max-width: 250px;
  }
}

.carousel-3d__title strong {
  background-image: linear-gradient(
    309deg,
    #7cdc31 2.25225%,
    #4ea23b 40.0785%,
    #297246 100%
  );
  padding-bottom: 5px;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-3d__img {
  perspective: 880px;
  @media (max-width: 575px) {
    perspective: 300px;
    padding-top: 100px;
  }
}

.carousel-3d__box {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  animation: spin 60s linear infinite;
  min-height: 300px;
  @media (max-width: 575px) {
    min-height: 100px;
  }
}

.carousel-3d__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 450px;
  margin-left: -150px;
  margin-top: -250px;
  background-size: cover;
  background-position: top;
  border-radius: 20px;
  transition: opacity 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  @media (max-width: 575px) {
    width: 300px;
    height: 400px;
  }
}

.carousel-3d__content {
  text-align: center;
}

.carousel-3d__description {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .carousel-3d__description br {
    display: none;
  }
}

.carousel-3d__button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.carousel-3d__img-rotate {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-3d__img-rotate img {
  animation: spin360 12s linear infinite;
  display: inline-block;
  transform-origin: center center;
  will-change: transform;
  backface-visibility: hidden;
}

.carousel-3d__img-box {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
