.faq__title {
  color: var(--color-foreground);
  font-size: 64px;
  font-weight: 600;
  margin: 0;
  @media(max-width: 767px) {
    font-size: 40px;
    padding-bottom: 20px;
  }
}

.faq__title-box, .faq__connect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.faq__connect a  {
  color: var(--color-foreground);
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  transition: all .3s ease;
}

.faq__connect a:hover {
  border-bottom: 1px solid #045cdd;
  color: #045cdd;
}

.faq__connect span:first-child {
  font-size: 13px;
}

.faq__collapse-title {
  display: flex;
  color: var(--color-foreground);
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  padding: 30px 20px;
}

.faq__collapse-title svg {
  transition: .3s ease all;
  width: 20px;
  height: 20px;
}

.faq__collapse-title[aria-expanded="true"] svg{
  transform: rotate(180deg);
}

.faq__collapse {
  border-bottom: 1px solid rgba(23, 23, 23, 0.6);
}

.faq__collapse-text {
  padding: 0px 40px 20px 20px;
}
