/* features */

.feature {
  padding-top: 100px;
  padding-bottom: 20px;
}

.feature-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feature-content {
  text-align: center;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 60px;
}

.feature-content__subtitle {
  flex: none;
  height: auto;
  position: relative;
  text-shadow: 0px 4px 18px rgba(0, 130, 217, 0.85);
  width: auto;
}

.feature-content__subtitle span {
  background-image: linear-gradient(
    309deg,
    rgb(166, 221, 255) 2.25225%,
    rgb(51, 194, 255) 48.0785%,
    rgb(0, 119, 255) 100%
  );
}

.feature-content__span[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / 2
    )
  );
  margin: min(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / -2
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-content__title h2 {
  color: var(--color-foreground);
  font-size: 48px;
  @media(max-width: 767px) {
    font-size: 30px;
  }
}

/* feature-grid */

.feature-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.feature-col7 {
  background: radial-gradient(97% 98% at 1.5% 99.1%, #60d30a 0%, rgb(0 0 0) 100%);
  border-radius: 16px;
  flex: none;
  inset: 0;
  will-change: var(--framer-will-change-override, transform);
  z-index: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
  height: 100%;
  position: relative;
  min-height: 500px;
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.feature-col7::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.feature-col4,
.feature-row2-col6,
.feature-row4-col6 {
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  min-height: 500px;
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.feature-col4::after,
.feature-row2-col6::after,
.feature-row4-col6::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.feature-link {
  display: inline-flex;
  color: var(--color-foreground);
  align-items: center;
  width: fit-content;
}

.feature-link p {
  padding-right: 2px;
  transition: 0.3s ease all;
}

.feature-link svg {
  transition: 0.3s ease all;
}

.feature-link:hover p {
  padding-right: 6px;
  color: var(--color-text);
}

.feature-link:hover svg {
  stroke: var(--color-text);
}

.feature-col-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.feature-col-title {
  color: var(--color-foreground);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.feature-row1-col7__image {
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 0;
  max-width: 620px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.feature-row1-col7__image1 {
  align-items: center;
  border-radius: 13px;
  box-shadow: -10px 0 30px #000c2499, -0.5px -0.5px 0 0.4px #ffffff40;
  display: flex;
  filter: blur(0px);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 447px;
  justify-content: center;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 255px;
  z-index: 0;
  transform: perspective(1200px) translateX(15px);
  backdrop-filter: blur(4px);
}

.feature-row1-col7__image2 {
  -webkit-filter: blur(0px);
  border-radius: 13px;
  box-shadow: -20px 0 30px #0009, -0.5px -0.5px 0 0.4px #ffffff40;
  filter: blur(0px);
  flex: none;
  height: 315px;
  left: calc(50.00000000000002% - 234px / 2);
  overflow: visible;
  position: absolute;
  top: 40px;
  backdrop-filter: blur(4px);
  width: 234px;
}

.feature-row1-col7__image3 {
  border-radius: 13px;
  box-shadow: -20px 0 30px #0009, -0.5px -0.5px 0 0.4px #ffffff40;
  flex: none;
  height: 315px;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 80px;
  width: 234px;
  transform: perspective(1200px) translateX(-15px);
  backdrop-filter: blur(4px);
}

.feature-row1-col7__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}

.feature-row2-col6 {
  position: relative;
}

.feature-col-content--mw {
  max-width: 480px;
}

.feature-row2-col6__topbar {
  display: flex;
  gap: 10px;
  padding: 10px 8px;
  background-color: #ababab1a;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.feature-row2-col6__size {
  font-size: 12px;
  line-height: 1;
}

.feature-row2-col6__ytb {
  line-height: 0;
}

.feature-row2-col6__desktop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 70%;
  flex-shrink: 0;
}

.feature-row2-col6__image-desktop img {
  width: 100%;
}

.feature-row2-col6__image-desktop {
  height: 100px;
}

.feature-row2-col6__image-left {
  display: flex;
  gap: 20px;
  width: 120%;
  z-index: 1;
}

.feature-row2-col6__mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-row2-col6__background-left {
  align-items: center;
  display: flex;
  filter: blur(6px) drop-shadow(0px 1px 17px rgba(191, 229, 246, 0.35));
  justify-content: center;
  inset: -207px -148px;
  opacity: 0.2;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 1) 36%) add;
  top: 15%;
  position: absolute;
}


.feature-row3-col7 {
  background: radial-gradient(
    94% 98% at 100% 100%,
    #0b4abf 0%,
    rgb(0, 3, 15) 100%
  );
}

.feature-row3-col7__img img {
  width: 100%;
}

.feature-row1-col4__marquee {
  flex: 1 0 0px;
  height: 1px;
  overflow: visible;
  position: relative;
  width: 100%;
}

/* feature */

.feature-row4-col6--green {
  background: radial-gradient(
    100% 64% at 50% 100%,
    #002618 0%,
    rgb(0, 0, 0) 100%
  );
}

.feature-row4-col6__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 6.350295608108107%,
      rgba(0, 0, 0, 1) 66.772240990991%
    )
    add;
}

.feature-row4-col6__bg img {
  width: 100%;
}

.feature-row4-col6__countto-box {
  align-items: center;
  background: radial-gradient(
    93% 81% at 50% 100%,
    #003621 0%,
    rgb(0, 0, 0) 100%
  );
  border-radius: 16px;
  box-shadow: 0 20px 40px #0009;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  padding: 25px;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  @media (max-width: 575px) {
    padding: 10px;
  }
}

.feature-row4-col6__countto-box::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.feature-row4-col6__left-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feature-row4-col6__left-item1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: -18px;
}

.feature-row4-col6__left-item1 img {
  width: 20px;
}

.feature-row4-col6__countto {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  gap: 50px;
  @media (max-width: 767px) {
    gap: 10px;
  }
}

/* 11/11 */

.countto-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  @media (max-width: 767px) {
    width: 100px;
    height: 100px;
  }
}

.countto--130 {
  height: 130px;
  width: 130px;
  @media (max-width: 767px) {
    height: 90px;
    width: 90px;
  }
}

.countto-circle::before {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background: radial-gradient(
    100% 100% at 50% 100%,
    #003621 0%,
    rgb(0, 0, 0) 100%
  );
}

.countto-circle::after {
  content: "";
  position: absolute;
  width: 158px;
  height: 158px;
  border: 3px solid rgb(0, 255, 157);
  border-radius: 50%;
  z-index: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  @media (max-width: 767px) {
    width: 100px;
    height: 100px;
  }
}

.countto--130::after {
  width: 128px;
  height: 128px;
  @media (max-width: 767px) {
    width: 88px;
    height: 88px;
  }
}

.countto-circle__num {
  position: relative;
  color: var(--color-foreground);
  z-index: 10;
  line-height: 1em;
  font-size: 2em;
}

.countto-border {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0.5px 0px 0.5px,
    rgba(0, 0, 0, 0.25) 0px 10px 30px 0px;
  @media (max-width: 767px) {
    height: 105px;
    width: 105px;
  }
}

.countto-border--180 {
  width: 180px;
  height: 180px;
  @media (max-width: 767px) {
    width: 110px;
    height: 110px;
  }
}

.countto-title {
  color: var(--color-foreground);
  font-size: 14px;
}

.countto-box {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}




/* Shoppable Video */

.shoppable-video {
  display: flex;
  align-items: center;
  padding: 30px 20px 0 20px;
  @media(max-width: 991px) {
    padding: unset;
  }
}

.shoppable-video__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.shoppable-video__image video,
.shoppable-video__image img {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.shoppable-video__product-title {
  text-transform: capitalize;
  color: var(--color-foreground);
  font-size: 14px;
  padding-bottom: 5px;
}

.shoppable-video__product-text span {
  font-size: 12px;
}

.shoppable-video__product-price {
  font-size: 12px;
  color: var(--color-foreground);
  padding-bottom: 10px;
}

.shoppable-video__product-price span {
  opacity: .5;
  text-decoration: line-through;
  padding-left: 5px;
}

.shoppable-video__box-item {
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.6);
  display: flex  ;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.shoppable-video__box-item--left {
  scale: 1.2;
  backdrop-filter: blur(2px);
  margin-right: -20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
}

.shoppable-video__box-item--left .shoppable-video__product, .shoppable-video__box-item--right .shoppable-video__product {
  scale: .6;
  margin-top: -10px;
  margin-bottom: -10px;
}

.shoppable-video__box-item--left .shoppable-video__badge, .shoppable-video__box-item--right .shoppable-video__badge {
  scale: .6;
  top: 3px;
  right: -46px;
}

.shoppable-video__box-item--right {
  scale: 1.2;
  backdrop-filter: blur(2px);
  margin-left: -20px;
  z-index: -1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
}

.shoppable-video__box-item--opacity {
  opacity: 1;
}

.shoppable-video__badge {
  position: absolute;
  top: 12px;
  z-index: 10;
  pointer-events: none;
  width: 120px;
  height: 26px;
  transform: rotate(45deg);
  right: -38px;
}

.shoppable-video__badge span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .1rem;
  color: var(--color-foreground);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e12c43;
}


/* feature 5 */
.feature-row6__item {
  position: relative;
  padding: 40px;
  border-radius: 16px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.feature-row6__item::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

/* mobile screen */

.mobile-screen {
  padding-top: 100px;
}

.mobile-screen__subtitle {
  background-image: linear-gradient(309deg, rgb(120 172 255) 2.25225%, rgb(29 129 255) 48.0785%
  48.0785%, rgb(1 120 255) 100%);
  padding-bottom: 10px;
  font-weight: 500;
}

.mobile-screen__subtitle[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-screen__content {
  text-align: center;
  padding-bottom: 100px;
}

.mobile-screen__title {
  font-size: 48px;
  color: var(--color-foreground);
  padding-bottom: 10px;
  max-width: 850px;
  margin: 0 auto;
}

.mobile-screen__desc {
  max-width: 40rem;
  margin: 0 auto;
}


.mobile-screen__box {
  display: flex;
  align-items: center;
  gap: 28px;
  @media(max-width: 991px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.mobile-screen__box video {
  max-width: 250px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1);
  transition:
    transform 0.5s ease,
    opacity 0.4s ease,
    filter 0.3s ease;
}

.mobile-screen__box video:hover {
  filter: brightness(1.05);
}

.mobile-screen__box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media(max-width: 991px) {
    width: 40%;
    padding-bottom: 50px;
  }
  @media(max-width: 767px) {
    width: 100%;
  }
}

.mobile-screen__box-item:has(video.active) .mobile-screen__product-title {
  transform: translateY(50px);
  transition: transform 0.5s ease;
}

.mobile-screen__box video.active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
  filter: brightness(1.15);
  pointer-events: none;
}

.mobile-screen__product-title {
  text-align: center;
  color: var(--color-foreground);
  transition: transform 0.5s ease;
  padding-top: 25px;
}

.feature-gap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.6);
}

.feature-row6__img img {
  width: 100%;
}

.feature-row6__item {
  height: 100%;
}

.feature-row6__img {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

/* feature-saveup marquee */
.feature-saveup {
  position: relative;
  padding-top: 300px;
  padding-bottom: 100px;
  @media(max-width: 767px) {
    padding: 100px 0;
  }
}

.feature-saveup__marquee-text {
  font-size: 450px;
  line-height: 0.8;
  letter-spacing: -25px;
  opacity: 10%;
  z-index: -1;
  position: absolute;
  top: 0;
  font-weight: 600;
  padding-top: 50px;
  @media(max-width: 767px) {
    font-size: 280px;
    padding-top: 0;
  }
}

.feature-saveup__marquee-text::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 70%);
  height: 50%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.feature-saveup__table-image span {
  padding-left: 10px;
}

.feature-saveup__table-image img {
  width: 20px;
}

.feature-saveup__content {
  padding-left: 40px;
  max-width: 560px;
  padding-top: 100px;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-left: unset;
  }
}

.feature-saveup__title {
  font-size: 48px;
  color: var(--color-foreground);
  padding-bottom: 12px;
  font-weight: 600;
}

.feature-saveup__desc {
  font-size: 18px;
  padding-bottom: 40px;
}

.feature-saveup__table {
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.6);
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #b3b3b31f;
  @media (max-width: 575px) {
    padding: 0px;
  }
}

.feature-saveup__table table tr td:first-child {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}

.feature-saveup__table table tr td:last-child {
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}

.feature-saveup__table table th {
  color: var(--color-foreground);
  text-align: center;
  width: 25%;
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.feature-saveup__table table td {
  text-align: center;
  width: 25%;
}

.feature-saveup__show-more {
  background: linear-gradient(
    0.504turn,
    hsla(0, 0%, 96%, 0) -10.16%,
    #0e0e0e 81.4%
  );
  display: flex;
  height: 180px;
  justify-content: center;
  transition: all 0.3s;
  align-items: flex-end;
}

.feature-saveup__table-bottom {
  bottom: 16px;
  left: 20px;
  position: absolute;
  right: 20px;
  @media (max-width: 575px) {
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.feature-saveup__table-top {
  height: 650px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.feature-saveup__table-top tbody {
  font-size: 14px;
}

.feature-saveup__table-bottom-box {
  display: flex;
  align-items: center;
  height: 100px;
  background: #0e0e0e;
}

.feature-saveup__show-more button {
  border: none;
}

.view-more-hidden {
  position: unset;
}

.view-more-hidden .feature-saveup__show-more {
  display: none;
}

/* feature new */

.feature-row__item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
}

.feature-row__item::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}

.feature-row__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  position: absolute;
  padding: 40px;
  @media(max-width: 999px) {
    padding: 15px;
  }
}

.feature-row__img {
  height: 100%;
}

.feature-row__img img {
  height: 100%;
  width: 100%;
}

.feature-row__description--mw {
  max-width: 585px;
}

.feature-row__item--video {
  height: 100%;
  background-image: var(--bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex  ;
  flex-direction: column;
  gap: 30px;
}

.feature-row__item--video .feature-row__content {
  position: relative;
}