.homepage-demo img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.homepage-title {
  padding: 150px 20px 30px;
  text-align: center;
  color: #fff;
}

.homepage-title h2 {
  font-size: 34px;
  padding: 10px 0;
}

.homepage-title h1 {
  font-size: 100px;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / 2
    )
  );
  margin: min(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / -2
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    309deg,
    rgb(166, 221, 255) 2.25225%,
    rgb(51, 194, 255) 48.0785%,
    rgb(0, 119, 255) 100%
  );
}

.homepage-title__num {
  flex: none;
  height: auto;
  position: relative;
  width: auto;
}

.homepage-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 200px 80px;
}

.homepage-tabs__item {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
  font-size: 16px;
  background: #000;
  border-radius: 30px;
  position: relative;
  outline: none;
  border: none;
  transition: 0.5s ease-in-out;
  white-space: nowrap;
}

.homepage-tabs__item::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.12);
  transition: 0.5s ease-in-out;
}

.homepage-tabs__item:hover::before {
  background: linear-gradient(
    309deg,
    rgb(166, 221, 255) 2.25225%,
    rgb(51, 194, 255)
  );
}

.homepage-demo {
  transition: box-shadow 0.2s ease-out;
  transition-duration: 0.5s;
  transition-property: transform;
  display: flex;
  flex-direction: column;
  /* max-height: 510px; */
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 15px;
  background: #ffffff21;
  padding: 1px;
}

.homepage-demo::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: -35px;
  z-index: -1;
  transition: transform 0.6s ease-in-out;
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(27, 117, 253, 0.1) 40%,
    rgb(1, 108, 248) 60%,
    transparent 100%
  );
  opacity: 0;
}

.homepage-demo:hover::after {
  transform: translateY(-250px);
  opacity: 1;
}

.homepage-demo__background {
  background: #000000;
  border-radius: 15px;
}

.homepage-demo__dots {
  align-items: center;
  gap: 5px;
}

.homepage-demo__dots span {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.homepage-demo__image-box {
  max-height: 338px;
  height: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}

.homepage-demo__img {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.homepage-demo__img img {
  transition: all 0.3s ease;
}

.homepage-demo__title {
  display: block;
  cursor: pointer;
}

.homepage-demo__title {
  color: #c9c9c9;
  transition: 0.3s ease all;
  font-weight: 500;
}

.homepage-demo__title:hover {
  color: #fff;
}

.homepage-demo:hover .homepage-demo__img img {
  transform: scale(1.04);
}

/* modal view now */

.modal-viewnow {
  background-color: #fff;
  padding: 50px 44px 38px;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  width: min(550px, 95vw);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.modal-viewnow .modal-body {
  padding: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-viewnow__title {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 15px;
  line-height: 1.5;
  margin-bottom: unset;
}

.modal-viewnow__title strong {
  color: red;
}

.modal-viewnow__button {
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(
    309deg,
    rgb(166, 221, 255) 2.25225%,
    rgb(51, 194, 255) 48.0785%,
    rgb(0, 119, 255) 100%
  );
  padding: 10px 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all 0.3s ease;
}

.modal-viewnow__close {
  position: absolute;
  top: 15px;
  right: 22px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.modal-viewnow__close svg {
  transition: all 0.3s ease;
}

.modal-viewnow__close:hover svg {
  fill: #000;
}

.modal-viewnow__description {
  font-style: italic;
  padding-bottom: 25px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-viewnow__button:hover {
  box-shadow: 0 3px 12px rgb(56 134 247 / 63%);
}

.homepage-demo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.homepage-demo__new {
  padding: 6px 10px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(67 142 68);
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.homepage-demo__hot {
  padding: 6px 10px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(252 87 50);
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.homepage-demo__btn {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
