/* MARQUEE */

.marquee-image-container {
  width: 100%;
  /* Full width of the container */
  height: 500px;
  text-align: center;
  mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0.2) 14%,
      rgba(0, 0, 0, 1) 46.44214527027027%,
      rgba(0, 0, 0, 0.2) 84%,
      rgba(0, 0, 0, 0) 84%
    )
    add;
  top: -77px;
  position: absolute;
}

.marquee-image-content {
  display: flex;
  flex-direction: column;
  animation: scrollUp 30s linear infinite;
}

.marquee-image-content img {
  width: 100%;
  height: auto;
  display: block;
}

.marquee {
  --gap: 30px;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 70%);
}

.marquee-content {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 20s infinite linear;
  gap: 50px;
  justify-content: space-around;
  @media (max-width: 767px) {
    gap: 30px;
  }
}

.marquee-content-reverse {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  gap: 24px;
  justify-content: space-between;
  min-width: 100%;
  transition: all 0.3s ease;
  padding-left: 0;
  will-change: transform;
  animation: scroll 40s linear infinite reverse;
  @media (max-width: 767px) {
    gap: 15px;
  }
}

.marquee-content-reverse2 {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  animation: scroll 40s infinite linear;
  gap: 24px;
  justify-content: space-between;
  min-width: 100%;
  padding-left: 0;
  transition: all 0.3s ease;
  will-change: transform;
  @media (max-width: 767px) {
    gap: 15px;
  }
}

.marquee-content-reverse2--delay {
  animation-duration: 60s;
}

.marquee-content-reverse--delay {
  animation-duration: 50s;
}
.marquee__text,
.marquee__dot {
  padding-left: 20px;
}

.marquee__text span {
  background-image: linear-gradient(
    309deg,
    #4a8ced 2.25225%,
    rgb(56 145 245) 48.0785%,
    rgb(0, 119, 255) 100%
  );
  text-shadow: 2px 3px 5px rgb(88 154 253 / 40%);
}

.marquee__text span[data-text-fill] {
  display: inline-block;
  background-clip: text;
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  padding: max(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / 2
    )
  );
  margin: min(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / -2
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.marquee__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: block;
  }
}

.marquee__dot svg {
  scale: 1.4;
}

/* marquee feature */

.marquee-feature__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--color-background);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 0px 0px inset;
  padding: 12px 16px;
  gap: 10px;
  flex-shrink: 0;
}

.marquee-feature__icon {
  display: flex;
}

.marquee-feature__icon svg {
  width: 18px;
  height: 18px;
}

.marquee-feature__icon svg path {
  fill: rgba(255, 255, 255, 0.7);
}

.marquee-feature__title {
  font-size: var(--font-body);
  text-transform: capitalize;
}

.marquee-feature__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 10;
}

.marquee-feature,
.testimonial-marquee {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .testimonial-marquee__description {
    font-size: 12px;
  }
}

.marquee-feature__background {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgb(0, 0, 0)
  );
  border-radius: 10px;
  bottom: -299px;
  flex: none;
  height: 499px;
  left: calc(50.00000000000002% - 793px / 2);
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  width: 793px;
  z-index: -1;
  transform: rotate(-13deg);
}

.marquee-feature__background--style2 {
  background: radial-gradient(
    80% 40% at 50% 50%,
    rgba(255, 255, 255, 0.6) 10%,
    rgb(0, 0, 0)
  );
  transform: unset;
  height: 550px;
  width: 100%;
  bottom: 15%;
  left: 0;
}

.marquee-feature__border {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.07) 0%,
    rgb(0, 0, 0)
  );
  bottom: 0;
  flex: none;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 4;
}

.marquee-feature__border--style2 {
  bottom: 42%;
  z-index: -1;
}

/* testimonial */

.testimonial-marquee__star {
  display: flex;
  gap: 5px;
}

.testimonial-marquee__star svg {
  width: 15px;
  height: 15px;
}

.testimonial-marquee__item {
  background-color: rgb(20, 20, 20);
  padding: 18px 16px 20px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  gap: 15px;
  height: fit-content;
  @media (max-width: 767px) {
    max-width: 320px;
    width: 100%;
  }
}

.testimonial-marquee__top {
  display: flex;
  justify-content: space-between;
}

.testimonial-marquee__name {
  font-size: 12px;
  color: var(--color-foreground);
  opacity: 0.9;
}

.testimonial-marquee__nickname img {
  width: 32px;
  height: 32px;
}

.testimonial-marquee__box {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.testimonial-trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.testimonial-trusted__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-trusted__image-box {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff21;
  display: flex;
  margin-left: -6px;
}

.testimonial-trusted__text span {
  color: var(--color-foreground);
}

/* review */

.testimonial-review__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    52% 50% at 50% 50%,
    rgb(2 57 187 / 60%) 0%,
    rgb(0, 0, 0)
  );
  gap: 24px;
}

.testimonial-review__left-line {
  background: linear-gradient(
    90deg,
    rgba(84, 84, 84, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  flex: none;
  height: 1px;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
  width: 69px;
}

.testimonial-review__left-line:last-child {
  rotate: 180deg;
}

.testimonial-review__left-image {
  width: 80%;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.testimonial-review__left-image img {
  width: 100%;
}

.testimonial-review__right {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
}

.testimonial-review__right-title {
  color: var(--color-foreground);
  font-size: 44px;
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.testimonial-review__right-desc {
  max-width: 65%;
  padding-bottom: 30px;
  @media (max-width: 1199px) {
    max-width: 100%;
  }
}

.testimonial-review__subtitle {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    309deg,
    rgb(120 172 255) 40.25225%,
    rgb(120, 177, 248) 58.0785%,
    rgb(1 120 255) 100%
  );
  font-weight: 500;
}
