.policies {
  padding: 150px 0;
  @media(max-width: 991px) {
    padding: 100px 0px;
  }
}

.policies__item {
  text-align: center;
  width: calc(100% / 3);
  padding: 40px;
  @media(max-width: 991px) {
    width: 100%;
    padding: 40px 0px;
  }
}

.policies__title {
  font-size: 24px;
  color: var(--color-foreground);
  padding-top: 16px;
}

.policies__desc {
  padding-bottom: 14px;
}

.policies__box {
  display: flex;
  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.policies__link {
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  height: 30px;
  width: 90px;
}

.policies__link:after {
  content: attr(data-text);
  transition: all .3s ease;
  position: absolute;
  color: var(--color-text);
  width: 100%;
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: 0;
  width: 100%;
}

.policies__link::before {
  content:  attr(data-text) ;
  transition: all .3s ease;
  color: var(--color-text);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  bottom: 4px;
}

.policies__link:hover:after {
  transform: translate(-50%, 0);
  bottom: 4px;
  color: var(--color-foreground);
}

.policies__link:hover::before {
  transform: translate(-50%, -50%);
  bottom: 30px;
}

.policies__link span {
  width: 70%;
  border-bottom: 1px solid var(--color-text);
  margin: 0 auto;
  height: 100%;
  display: block;
}

.policies__link:hover span {
  border-bottom: 1px solid var(--color-foreground);
  
}