.shop-feature__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 40px;
  @media( max-width: 767px) {
    gap: 20px;
  }
}

.shop-feature__item {
  width: calc(20% - 30px);
  @media( max-width: 991px) {
    width: calc(33% - 30px);
  };
  @media( max-width: 767px) {
    width: calc(50% - 20px);
  }
}

.shop-feature__item img {
  width: 100%;
}

.shop-feature {
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  @media(max-width: 767px) {
    padding: 100px 0;
  }
}

.shop-feature__title {
  text-align: center;
  color: var(--color-foreground);
  font-size: 34px;
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
  @media(max-width: 991px) {
    padding-bottom: 20px;
    br:first-child {
      display: none
    }
  };
  @media(max-width: 767px) {
    font-size: 30px;
  };
}

.shop-feature__item-text {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.shop-feature__item-text a {
  font-size: 16px;
  color: var(--color-foreground);
  transition: .3s ease all;
}

.shop-feature__item-text a:hover {
  opacity: 0.6;
}

.modal-shop-feature {
  padding: 50px 44px 38px;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: rgba(23, 23, 23, .6);
  border: 1px solid rgba(38, 38, 38, .6);
  backdrop-filter: blur(10px);
}

.modal-shop-feature__body-item img {
  width: 100%;
}



/* css layout-theme */

.layout-theme {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  margin: 0 auto; /* Căn giữa container */
}

.layout-theme__track {
  display: flex;
  will-change: transform;
  transition: transform 0.4s ease;
  /* justify-content: center; */
}

.layout-theme__slide {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  display: block;
}

.layout-theme__slide-img img {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.layout-theme__slide-img {
  box-shadow: 0px 0px 20px 0 rgb(50 50 50 / 20%);
  border-radius: 5px;
  overflow: hidden;
}

.layout-theme__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffff;
  color: #000;
  border: none;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  box-shadow: 0px 5px 15px 0 rgb(50 50 50 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.layout-theme__button--prev { left: 0; }
.layout-theme__button--next { right: 0; }

.layout-theme__pagination {
  text-align: center;
  margin-top: 10px;
}

.layout-theme__pagination span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.layout-theme__pagination .active {
  background: #333;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .layout-theme__slide {
    flex: 0 0 calc(100% / 2);
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .layout-theme__slide {
    flex: 0 0 100%;
    font-size: 1.2rem;
  }
}

.layout-theme__slide-text {
  font-size: 16px;
  color: var(--color-foreground);
  padding-top: 25px;
}

.layout-theme__pagination {
  display: none;
}

.layout-theme__viewport {
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}



