body {
  background-color: #000000;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  line-height: var(--bs-body-line-height);
  margin: 0 auto;
  --font-body: 16px;
  --color-foreground: #fff;
  --color-star: #f1b823;
  --background-gradient: linear-gradient(
    309deg,
    #4a8ced 2.25225%,
    rgb(56 145 245) 48.0785%,
    rgb(0, 119, 255) 100%
  );
}

.main {
  position: relative;
  overflow: hidden;
}

.banner-background {
  position: relative;
  margin-top: -61px;
}

p {
  margin-bottom: unset;
}

.container,
.container-sm,
.container-md,
.container-xl {
  padding: 0 30px;
  max-width: 1600px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    padding: 0 30px;
    max-width: 100%;
  }

  .container-fluid {
    padding: 0;
    max-width: 100%;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: 1860px;
    padding: 0 50px;
  }

  .container-sm {
    max-width: 1540px;
    padding: 0 50px;
  }

  .container-md {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.hidden {
  display: none;
}

.button-primary {
  background-image: linear-gradient(
    90deg,
    #025cff 0%,
    #000000 51%,
    #2f89ff 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #000000;
}

.button-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-secondary {
  border-radius: 999px;
  opacity: 1;
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 1px;
  position: relative;
  text-decoration: none;
  width: min-content;
  will-change: var(--framer-will-change-override, transform);
}

.button-blue {
  /* --x: 7.4%; */
  --x: -34%;
  --y: 44.1%;
  background: radial-gradient(
    35% 100% at var(--x) var(--y),
    rgb(0, 119, 255) 0%,
    rgba(207, 207, 207, 0.2) 100%
  );
}

.button-blue--blur {
  backdrop-filter: blur(5px);
}

.button-white {
  --shadowX: -1; /* giá trị nội suy từ -1 đến 1 */
  box-shadow: rgb(2 61 173) calc(var(--shadowX) * 7px) 0px 21px -3px,
    #1157a7 calc(var(--shadowX) * 12px) 0px 10px -5px;
  will-change: var(--shadowX);
  padding: unset;
}

.button-secondary__content {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 12px 24px;
  position: relative;
  width: min-content;
  font-weight: 500;
  --x2: 1.2%;
  --x2: -34%;
  border-radius: 9999px;
  opacity: 1;
}

.button-blue__content {
  background: radial-gradient(
    59% 170% at var(--x2) 50%,
    rgb(0, 119, 255) 0%,
    rgb(0, 0, 0) 57%,
    rgb(0, 0, 0) 100%
  );
}

.button-blue--blur .button-blue__content {
  background: radial-gradient(59% 170% at var(--x2) 50%, rgba(0, 119, 255) 0%, rgba(0, 0, 0, .6) 57%, rgba(0, 0, 0, .6) 100%);
}

.button-white__content {
  background: radial-gradient(
    59% 170% at var(--x2) 50%,
    rgb(255, 255, 255) 0%,
    rgb(208, 208, 208) 57%,
    rgb(208, 208, 208) 100%
  );
  padding: 13px 24px;
}

.button-secondary__content span,
.button-white__content span {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
  opacity: 1;
  flex: none;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
  color: #fff;
  line-height: 1.4;
  font-size: 14px;
}

.button-white__content span {
  color: #000;
}

.p-20 {
  padding: 20px;
  @media (max-width: 575px) {
    padding: 10px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

/* back to top */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 999;
  background-color: rgba(23, 23, 23, 0.6);
  border: 1px solid rgba(38, 38, 38, 0.2);
  backdrop-filter: blur(10px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
    svg {
      width: 10px;
    }
  }
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

/* header code */
.header-nav {
  overflow: visible;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  @media (min-width: 1200px) {
    align-items: center;
    padding: 8px 8px;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(38, 38, 38, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    flex-direction: unset;
    gap: 5px;
  }
}

.header {
  position: sticky;
  top: 48px;
  z-index: 100;
  @media (max-width: 1199px) {
    position: relative;
    top: 10px;
  }
}

.header-logo {
  width: 20%;
  @media (max-width: 1199px) {
    width: 50%;
  }
}

.header-purchase {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  @media (max-width: 1199px) {
    width: 50%;
  }
}

.header-menu {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1199px) {
    display: none;
  }
}

.header .container-fluid {
  padding: 0 60px;
}

.header-box {
  align-items: center;
}

.header-nav .nav-link {
  padding: 0 16px;
}

.header-nav .nav-item {
  transition: 0.1s ease-in-out all;
  padding: 8px 0;
  border-radius: 50px;
  overflow: hidden;
}

.header-nav .active {
  color: var(--color-hover);
  backdrop-filter: blur(10px);
  background-color: rgba(46, 46, 46, 0.6);
}

.header-nav .active .nav-link {
  color: #fff;
}

.header-nav .nav-item:hover {
  backdrop-filter: blur(10px);
  background-color: rgba(46, 46, 46, 0.6);
}

.header-price .icon-arrow {
  transition: 0.5s;
  margin: 0px;
}

.header-price:hover .icon-arrow {
  transition: 0.5s ease-in-out all;
}

.icon-arrow {
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 6%;
}

.icon-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  @media (max-width: 1199px) {
    display: flex;
  }
}

.icon-menu span {
  background-color: var(--color-foreground);
  height: 2px;
  width: 24px;
}

.header-purchase__button {
  @media (max-width: 575px) {
    display: none;
  }
}

.nav-item-purchase {
  display: none;
  @media (max-width: 575px) {
    display: flex;
  }
}

.icon-logo img {
  width: 24px;
}

.icon-logo-click img {
  width: 21px;
}

.icon-logo-store img {
  width: 19px;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.header-price:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.header-price:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.header-price:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: rgb(255, 255, 255);
    opacity: 0;
  }

  50% {
    fill: rgb(255, 255, 255);
    opacity: 0.4;
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid rgb(38, 38, 38);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid rgb(38, 38, 38);
    outline-offset: 0;
  }
}

/* code banner */

.banner {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  scroll-margin-top: 80px;
  width: 100%;
  @media (max-width: 767px) {
    padding: 100px 15px 0 15px;
  }
}

.banner-top {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  max-width: 830px;
  align-items: center;
}

.banner-content {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.banner-content__subtitle {
  flex: none;
  height: auto;
  position: relative;
  text-shadow: 0px 4px 18px rgba(0, 130, 217, 0.85);
  width: auto;
}

.banner-content__subtitle span {
  background-image: linear-gradient(
    309deg,
    rgb(166, 221, 255) 2.25225%,
    rgb(51, 194, 255) 48.0785%,
    rgb(0, 119, 255) 100%
  );
}

.banner-content__span[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / 2
    )
  );
  margin: min(
    0em,
    calc(
      calc(
          1.3em -
            var(
              --framer-blockquote-line-height,
              var(--framer-line-height, 1.3em)
            )
        ) / -2
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content__title h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  @media (max-width: 991px) {
    font-size: 32px;
  }
}

.banner-content__description {
  text-align: center;
  font-size: 16px;
}

/* button link */
.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  @media(max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

/* banner-bottom */

.banner-bottom {
  position: relative;
}

.banner-bottom__left {
  transform: perspective(1200px) translateY(-14.661px) rotateX(3deg)
    rotateY(10deg);
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  bottom: -258px;
  box-shadow: 0 10px 30px #0006;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
  left: -300px;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  top: -110px;
  user-select: none;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear;
}

.banner-bottom__right {
  transform: perspective(1200px) rotateX(3deg) rotateY(-10deg);
  align-items: center;
  /* background: radial-gradient(117.63% 154.08% at -5.51% -4.72%, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0.00) 100%); */
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  bottom: -258px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  right: -300px;
  top: -110px;
  user-select: none;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear;
}

.banner-bottom__left-small {
  transform: perspective(1200px) rotateX(11deg) rotateY(15deg);
  user-select: none;
  touch-action: none;
  align-items: flex-start;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  box-shadow: -20px 10px 20px #0000008c;
  cursor: grab;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  left: -66px;
  overflow: hidden;
  position: absolute;
  top: -135px;
  z-index: 3;
  will-change: transform;
  transition: transform 0.3s linear;
}

.banner-bottom__image-center {
  border-radius: 24px;
  overflow: hidden;
}

.banner-bottom__right-small {
  transform: perspective(1200px) translateY(-32.5424px) rotate(2deg)
    rotateX(8deg) rotateY(-11deg);
  user-select: none;
  touch-action: none;
  cursor: grab;
  align-items: center;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  bottom: -140px;
  box-shadow: 30px 10px 30px #000000bf;
  cursor: grab;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -52px;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear;
}

.banner-bottom__background {
  -webkit-filter: blur(5px);
  -webkit-mask: radial-gradient(
      50% 50% at 50% 50%,
      #000000 39.29124436936937%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  -webkit-user-select: none;
  align-content: center;
  align-items: center;
  display: flex;
  filter: blur(5px);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  scale: 1.2;
  top: -150px;
  bottom: -250px;
  left: -148px;
  right: -148px;
  mask: radial-gradient(
      50% 50% at 50% 50%,
      #000000 39.29124436936937%,
      rgba(0, 0, 0, 0) 100%
    )
    add;
  opacity: 0.4;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  user-select: none;
  z-index: -1;
}

.banner-bottom__background img {
  width: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  opacity: 0.2;
  z-index: -2;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video video {
  height: 100%;
}

.banner-content {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: contentOut;
}

.background-color1 {
  -webkit-mask: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: radial-gradient(
    62% 67.9245283018868% at 39% 41.5%,
    rgb(0 0 0 / 0%) 0%,
    rgb(0 0 0 / 0%) 36%,
    rgb(0 0 0 / 0%) 63%,
    rgb(0 0 0 / 25%) 83%,
    rgb(0 0 0) 100%
  );
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%) add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.background-color2 {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  flex: none;
  height: 300px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.background-color1_item1 {
  background: radial-gradient(
    50% 32% at 50% 100%,
    #000000 0%,
    rgb(0 0 0 / 25%) 53%,
    rgb(0 0 0 / 15%) 79%,
    rgb(0 0 0 / 0%) 100%
  );
  bottom: 0;
  flex: none;
  height: 290px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 3;
}

.background-color1_item2 {
  -webkit-mask: radial-gradient(
      73% 93% at 48.5% 40.300000000000004%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0) 100%);
  flex: none;
  inset: 108px 0 0;
  mask: radial-gradient(
      73% 93% at 48.5% 40.300000000000004%,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.background-color1_item3 {
  -webkit-mask: radial-gradient(
      50% 131% at 48.699999999999996% 31.8%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.32556) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 0%) 0%,
    rgb(0 0 0 / 70%) 100%
  );
  flex: none;
  inset: 208px 0 0;
  mask: radial-gradient(
      50% 131% at 48.699999999999996% 31.8%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.32556) 64%,
      rgba(0, 0, 0, 1) 100%
    )
    add;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

/* .reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
} */

/* banner */

.blur-container__light1 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #002fff 0%,
    rgba(171, 171, 171, 0) 100%
  );
  bottom: -46px;
  flex: none;
  left: calc(50.00000000000002% - 1198px / 2);
  opacity: 0.28;
  overflow: hidden;
  position: absolute;
  top: -352px;
  width: 1198px;
  z-index: 1;
  will-change: transform;
}

.blur-container__light2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #002fff 0%,
    rgba(171, 171, 171, 0) 100%
  );
  flex: none;
  height: 929px;
  left: calc(50.00000000000002% - 865px / 2);
  opacity: 0.46;
  overflow: hidden;
  position: absolute;
  top: -252px;
  width: 865px;
  z-index: 1;
  will-change: transform;
}

.blur-container__light3 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #002efd 0%,
    rgba(171, 171, 171, 0) 100%
  );
  flex: none;
  height: 639px;
  left: calc(50.00000000000002% - 778px / 2);
  opacity: 0.72;
  overflow: hidden;
  position: absolute;
  top: -393px;
  width: 778px;
  z-index: 1;
  will-change: transform;
}

.blur-container {
  -webkit-mask: radial-gradient(
      50% 109.00000000000001% at 50% 50%,
      #000000 0%,
      rgba(0, 0, 0, 0.96427) 0%,
      rgba(0, 0, 0, 0) 96%
    )
    add;
  filter: blur(16px);
  flex: none;
  height: 179vh;
  mask: radial-gradient(
      50% 109.00000000000001% at 50% 50%,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.96427) 0%,
      rgba(0, 0, 0, 0) 96%
    )
    add;
  opacity: 0.9;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -728px;
  width: 100%;
  z-index: -10;
  will-change: transform;
}

.blur-container__ray {
  overflow: hidden;
  position: absolute;
  top: -400px;
  z-index: 1;
  will-change: transform;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #9fb0fc 0%,
    rgba(171, 171, 171, 0) 100%
  );
  flex: none;
  transition: transform 0.5s, opacity 0.5s;
}

.blur-container__ray1 {
  height: 2072px;
  left: 48%;
  /* left: calc(50.00000000000002% - 40px / 2); */
  opacity: 0.27;
  width: 40px;
}

.blur-container__ray2 {
  /* bottom: -920px; */
  height: 2000px;
  left: 34%;
  opacity: 0.28;
  width: 60px;
}

.blur-container__ray3 {
  /* bottom: -920px;
  left: calc(50.00000000000002% - 35px / 2); */
  height: 1800px;
  left: 40%;
  width: 50px;
}

.blur-container__ray4 {
  height: 2000px;
  left: 60%;
  width: 40px;
}

.blur-container__ray5 {
  height: 2100px;
  left: 68%;
  width: 30px;
}

.blur-container__ray6 {
  height: 1900px;
  left: 30%;
  width: 50px;
}

.blur-container__ray7 {
  height: 2000px;
  left: 25%;
  width: 30px;
}

.blur-container__ray8 {
  height: 1800px;
  left: 46%;
  width: 30px;
}

.blur-container__ray9 {
  height: 2200px;
  left: 66%;
  width: 40px;
}

.blur-container__ray10 {
  height: 1800px;
  left: 67%;
  width: 50px;
}

.blur-container__ray11 {
  height: 2000px;
  left: 73%;
  width: 60px;
}

.blur-container__ray12 {
  height: 2000px;
  left: 52%;
  width: 40px;
}
