/* * {
  padding: 0;
  margin: 0;
  word-break: break-word;
}

html,body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} */

body {
  background-color: #000000;
  font-size: 16px;
  font-family: 'Inter 18pt', sans-serif;
  color: rgba(255, 255, 255, .6);
  --font-body: 16px;
  --color-foreground: #fff;
  --color-star: #f1b823;
  --background-gradient: linear-gradient(
    309deg,
    #4a8ced 2.25225%,
    rgb(56 145 245) 48.0785%,
    rgb(0, 119, 255) 100%
  );
}

.main {
  position: relative;
}

.banner-background {
  position: relative;
  margin-top: -61px;
}

p {
  margin-bottom: unset;
}

.container,
.container-sm,
.container-md,
.container-xl {
  padding: 0 30px;
  max-width: 1600px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm, 
  .container-md {
    padding: 0 30px;
    max-width: 100%;
  }

  .container-fluid {
    padding: 0;
    max-width: 100%;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: 1860px;
    padding: 0 50px;
  }

  .container-sm {
    max-width: 1540px;
    padding: 0 50px;
  }
  
  .container-md {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.hidden {
  display: none;
}

.button-primary {
  background-image: linear-gradient(90deg, #025cff 0%, #000000 51%, #2f89ff 100%);
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #000000;
}

.button-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-secondary {
  /* background: radial-gradient(35% 100% at 7.4% 44.1%, rgb(0, 119, 255)  0%, rgba(207, 207, 207, 0.2) 100%); */
  border-radius: 999px;
  opacity: 1;
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 1px;
  position: relative;
  text-decoration: none;
  width: min-content;
  will-change: var(--framer-will-change-override, transform);
}

.button-blue {
  --x: 7.4%;
  --y: 44.1%;
  background: radial-gradient(35% 100% at var(--x) var(--y), rgb(0, 119, 255) 0%, rgba(207, 207, 207, 0.2) 100%);
}

.button-white {
  --shadowX: -1; /* giá trị nội suy từ -1 đến 1 */
  box-shadow: rgb(2 61 173) calc(var(--shadowX) * 7px) 0px 21px -3px, #1157a7 calc(var(--shadowX) * 12px) 0px 10px -5px;
  will-change: var(--shadowX);
  padding: unset;
}

.button-secondary__content {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 12px 24px;
  position: relative;
  width: min-content;  
  font-weight: 500;
  /* background: radial-gradient(59% 170% at 1.2% 50%, rgb(0, 119, 255) 0%, rgb(0, 0, 0) 57%, rgb(0, 0, 0) 100%); */
  --x2: 1.2%;
  border-radius: 9999px;
  opacity: 1;
}

.button-blue__content {
  background: radial-gradient(59% 170% at var(--x2) 50%, rgb(0, 119, 255) 0%, rgb(0, 0, 0) 57%, rgb(0, 0, 0) 100%);
}

.button-white__content {
  background: radial-gradient(59% 170% at var(--x2) 50%, rgb(255, 255, 255) 0%, rgb(208, 208, 208) 57%, rgb(208, 208, 208) 100%);
  padding: 13px 24px;

}

.button-secondary__content span, .button-white__content span {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
  opacity: 1;
  flex: none;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
  color: #fff;
  line-height: 1.4;
  font-size: 14px;
}

.button-white__content span {
  color: #000;
}

.p-20 {
  padding: 20px;
  @media (max-width: 575px) {
    padding: 10px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

/* header code */
.header-nav {
  overflow: visible;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  @media(min-width: 1200px) {
    align-items: center;
    padding: 8px 8px;
    justify-content: center;
    background-color: rgba(23, 23, 23, .6);
    border: 1px solid rgba(38, 38, 38, .2);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    flex-direction: unset;
    gap: 5px;
  }
}

.header {
  position: sticky;
  top: 48px;
  z-index: 1111111;
  @media(max-width: 1199px) {
    position: relative;
    top: 10px;
  }
}

.header-logo {
  width: 20%;
  @media(max-width: 1199px) {
    width: 50%;
  }
}

.header-purchase {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  @media(max-width: 1199px) {
    width: 50%;
  }
}

.header-menu {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 1199px) {
    display: none;
  }
}

.header .container-fluid {
  padding: 0 60px
}

.header-box {
  align-items: center;
}

.header-nav .nav-link {
  padding: 0 16px;
}

.header-nav .nav-item {
  transition: .3s ease-in-out all;
  padding: 8px 0;
  border-radius: 50px;
  overflow: hidden;
}

.header-nav .active {
  color: var(--color-hover);
  backdrop-filter: blur(10px);
  background-color: rgba(46, 46, 46, 0.6);
}

.header-nav .active .nav-link {
  color: #fff;
}

.header-nav .nav-item:hover {
  backdrop-filter: blur(10px);
  background-color: rgba(46, 46, 46, 0.6);
}

.header-price .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
}

.header-price:hover .icon-arrow {
  transition: 0.5s ease-in-out all;
}

.icon-arrow {
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 6%;
}

.icon-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  @media(max-width: 1199px) {
    display: flex;
  }
}

.icon-menu span {
  background-color: var(--color-foreground);
  height: 2px;
  width: 24px;
}

.header-purchase__button {
  @media(max-width: 575px) {
    display: none;
  }
}

.nav-item-purchase {
  display: none;
  @media(max-width: 575px) {
    display: flex;
  }
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.header-price:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.header-price:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.header-price:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: var(--color-hover);
  }

  50% {
    fill: rgb(38, 38, 38);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid rgb(38, 38, 38);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid rgb(38, 38, 38);
    outline-offset: 0;
  }
}

/* code banner */

.banner {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  scroll-margin-top: 80px;
  width: 100%;
}

.banner-top {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  max-width: 830px;
  align-items: center;
}

.banner-content {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.banner-content__subtitle {
  flex: none;
  height: auto;
  position: relative;
  text-shadow: 0px 4px 18px rgba(0, 130, 217, .85);
  width: auto;
}

.banner-content__subtitle span {
  background-image: linear-gradient(309deg, rgb(166, 221, 255) 2.25225%, rgb(51, 194, 255) 48.0785%, rgb(0, 119, 255) 100%);
}

.banner-content__span[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - var(--framer-blockquote-line-height, var(--framer-line-height, 1.3em))) / 2));
  margin: min(0em, calc(calc(1.3em - var(--framer-blockquote-line-height, var(--framer-line-height, 1.3em))) / -2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content__title h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 991px) {
    font-size: 32px;
  }
}

.banner-content__description {
  text-align: center;
  font-size: 16px;
}

/* button link */
.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--color-hover);
  transition: 0.3s ease all;
  gap: 12px;
  border-radius: 30px;
  padding: 10px 20px;
}

.learn-more:hover {
  color: #fff;
  backdrop-filter: blur(10px);
  background-color: rgba(82, 81, 81, 0.6);
}

.learn-more svg {
  transition: all 0.3s ease;
} 

.learn-more:hover svg {
  stroke: #fff;
}

/* banner-bottom */

.banner-bottom {
  position: relative;
}

.banner-bottom__left {
  position: absolute;
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px) translateY(-14.661px) rotateX(3deg) rotateY(10deg);
  align-items: center;
  background-color: #111;
  border-radius: 8px;
  bottom: -258px;
  box-shadow: 0 10px 30px #0006;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
  left: -300px;
  overflow: hidden;
  padding: 0 15px;
  pointer-events: auto;
  position: absolute;
  top: -110px;
  user-select: none;
  width: 260px;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear
}

.banner-bottom__right {
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px) rotateX(3deg) rotateY(-10deg);
  position: absolute;
  align-items: center;
  background-color: #111;
  border-radius: 8px;
  bottom: -258px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 15px;
  pointer-events: auto;
  position: absolute;
  right: -300px;
  top: -110px;
  user-select: none;
  width: 260px;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear
}

.banner-bottom__left-small {
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px) rotateX(11deg) rotateY(15deg);
  user-select: none;
  touch-action: none;
  align-items: flex-start;
  backdrop-filter: blur(7px);
  background-color: #2b2b2be6;
  border-radius: 14px;
  box-shadow: -20px 10px 20px #0000008c;
  cursor: grab;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  left: -66px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  top: -135px;
  width: 150px;
  z-index: 3;
  will-change: transform;
  transition: transform 0.3s linear
}

.banner-bottom__image-center {
  border-radius: 24px;
  overflow: hidden ;
}

.banner-bottom__right-small {
  will-change: transform;
  opacity: 1;
  transform: perspective(1200px) translateY(-32.5424px) rotate(2deg) rotateX(8deg) rotateY(-11deg);
  user-select: none;
  touch-action: none;
  cursor: grab;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #111111e6;
  border-radius: 15px;
  bottom: -140px;
  box-shadow: 30px 10px 30px #000000bf;
  cursor: grab;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -52px;
  width: 260px;
  z-index: 2;
  will-change: transform;
  transition: transform 0.3s linear
}

.banner-bottom__background {
  -webkit-filter: blur(5px);
  -webkit-mask: radial-gradient(50% 50% at 50% 50%, #000000 39.29124436936937%, rgba(0, 0, 0, 0) 100%) add;
  -webkit-user-select: none;
  align-content: center;
  align-items: center;
  display: flex;
  filter: blur(5px);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  inset: -207px -148px;
  mask: radial-gradient(50% 50% at 50% 50%, #000000 39.29124436936937%, rgba(0, 0, 0, 0) 100%) add;
  opacity: .4;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  user-select: none;
  z-index: -1;
}

.banner-bottom__background img {
  width: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  opacity: 0.2;
  z-index: -2;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video video {
  height: 100%;
}

.banner-content {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: contentOut;
}

.background-color1 {
  -webkit-mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%) add;
  /* background: radial-gradient(62% 67.9245283018868% at 39% 41.5%, rgba(0, 81, 255, 0) 0%, rgba(0, 153, 255, 0) 36%, rgba(0, 153, 255, 0) 63%, rgba(0, 128, 255, .25) 83%, rgb(0, 51, 255) 100%); */
  background: radial-gradient(62% 67.9245283018868% at 39% 41.5%, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 0%) 36%, rgb(0 0 0 / 0%) 63%, rgb(0 0 0 / 25%) 83%, rgb(0 0 0) 100%);
  bottom: 0;
  flex: none;
  height: 498px;
  left: 0;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%) add;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.background-color2 {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  flex: none;
  height: 300px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.background-color1_item1 {
  /* background: radial-gradient(50% 32% at 50% 100%, #009dff 0%, rgba(0, 217, 255, .25) 53%, rgba(0, 119, 255, .15) 79%, rgba(0, 178, 255, 0) 100%); */
  background: radial-gradient(50% 32% at 50% 100%, #000000 0%, rgb(0 0 0 / 25%) 53%, rgb(0 0 0 / 15%) 79%, rgb(0 0 0 / 0%) 100%);
  bottom: 0;
  flex: none;
  height: 290px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 3;
}

.background-color1_item2 {
  -webkit-mask: radial-gradient(73% 93% at 48.5% 40.300000000000004%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .3) 64%, rgba(0, 0, 0, 1) 100%) add;
  /* background: linear-gradient(180deg, rgba(0, 153, 255, 0) 0%, rgb(0, 178, 255) 100%); */
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0) 100%);
  flex: none;
  inset: 108px 0 0;
  mask: radial-gradient(73% 93% at 48.5% 40.300000000000004%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .3) 64%, rgba(0, 0, 0, 1) 100%) add;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.background-color1_item3 {
  -webkit-mask: radial-gradient(50% 131% at 48.699999999999996% 31.8%, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .32556) 64%, rgba(0, 0, 0, 1) 100%) add;
  /* background: linear-gradient(180deg, rgba(0, 85, 255, 0) 0%, rgba(8, 0, 255, .7) 100%); */
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 70%) 100%);
  flex: none;
  inset: 208px 0 0;
  mask: radial-gradient(50% 131% at 48.699999999999996% 31.8%, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .32556) 64%, rgba(0, 0, 0, 1) 100%) add;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}


/* .reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
} */